<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
